body {
    margin: 0px;
    padding: 0px;
  }

  .buyButton {
    background: #27a308;
    background-image: -webkit-linear-gradient(top, #27a308, #2980b9);
    background-image: -moz-linear-gradient(top, #27a308, #2980b9);
    background-image: -ms-linear-gradient(top, #27a308, #2980b9);
    background-image: -o-linear-gradient(top, #27a308, #2980b9);
    background-image: linear-gradient(to bottom, #27a308, #2980b9);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 10px 10px 29px;
    text-decoration: none;
  }
  
  .buyButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  .playButton {
    background: #27a308;
    background-image: -webkit-linear-gradient(top, #27a308, #2980b9);
    background-image: -moz-linear-gradient(top, #27a308, #2980b9);
    background-image: -ms-linear-gradient(top, #27a308, #2980b9);
    background-image: -o-linear-gradient(top, #27a308, #2980b9);
    background-image: linear-gradient(to bottom, #27a308, #2980b9);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 10px 10px 29px;
    text-decoration: none;
  }
  
  .playButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }